body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

.header {
    min-height: 60px;
    background-color: white;
    color: white;
    border-bottom: 2px rgb(194, 194, 194) solid;
}

.header h1 {
    margin: 0;
    padding: 20px 40px 20px 40px;
    background-color: rgb(60, 167, 255);
    display: inline-block;
}

.header a {
    color: white;
    text-decoration: none;
}

.content {
    min-height: 800px;
    max-width: 80%;
    margin: 0 auto 0 auto;
}

.footer {
    min-height: 50px;
    background-color: rgb(62, 162, 255);
    border-top: 2px rgb(194, 194, 194) solid;
}

.footer h4 {
    text-align: center;
}