<!DOCTYPE html>
<html>

<head>
    <title>Главная страница</title>

    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="base.css">

</head>

<body>
    <div class="header">
        <h1>Интернет-магазин процессоров Intel</h1>

        <div class="navigation">
            <div><a href="index.html">Главная страница</a></div>
            <div><a href="contact_information.html">Контакты</a></div>
        </div>
    </div>


    <div class="content">
    </div>

    <div class="footer">
        <h4>Все права защищены</h2>
    </div>
</body>

</html>